#historia{
	/*border: 5px solid red;*/
	padding-top: 50px;
	width: 100%;
	height: 580px;
	position: relative; 
}

#conteudo-historia{
	width: 44%;
	position: relative;
	left: 28%;
}

#missao{
	/*border: 5px solid red;*/
	width: 20%;
	position: absolute;
	left: 16%;
	padding-top: 80px;
}

#visao{
	/*border: 5px solid red;*/
	width: 20%;
	position: absolute;
	left: 40%;
	padding-top: 80px;
}

#valores{
	/*border: 5px solid red;*/
	width: 20%;
	position: absolute;
	left: 64%;
	padding-top: 80px;
}

#motivacao{
	background-image: url('Materiais/635703-1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #FFFFFF;
	text-align: center;
}

#shadow{
	background: #000000A0;
	height: 100%;
	padding-bottom: 12%;
}

#yoda{
	width: 60px;
	border: 5px solid #00000070;
	border-radius: 1000px;
}

#serviços{
	position: relative;
	margin-bottom: 100px;
}

#DESENVOLVIMENTO{
	position: absolute;
	width: 23%;
	bottom: 330px;
	left: 12%;
}

#INTERNET{
	position: absolute;
	width: 23%;
	bottom: 170px;
	left: 12%;
}

#CONSULTORIA{
	position: absolute;
	width: 23%;
	bottom: 330px;
	right: 12%;
}

#MINICURSOS{
	position: absolute;
	width: 23%;
	bottom: 170px;
	right: 12%;
}

.img{
	width: 100%;
}

.title{
	font: bold 48px Montserrat, Arial, sans-serif;
	text-align: center;
	color: #252525;
}

.textTitle{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #252525;
}

.textTitle-left{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: left;
	color: #252525;
}

.textTitle-right{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: right;
	color: #252525;
}

.textTitle2{
	font: normal 20px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #999999;
	margin-top: 100px;
	margin-bottom: 0px;
}

.text{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #999999;
}

.text-left{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: left;
	color: #999999;
}

.text-right{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: right;
	color: #999999;
}

.textYoda{
	padding-top: 10%;
	margin: 0px;
	font: normal 40px "Segoe UI", Arial, sans-serif;
}

.nameYoda{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	margin: 10px;
}

.nomargin{
	margin: 0px;
}

.img-serviços{
	position: relative;
	left: 39%;
}

.icons{
	position: relative;
	left: 40%;
	color: #A7FBD3;
	font-size: 350%;
}