/* Ids Principais */

#HISTORIA{
	padding-top: 50px;
	width: 100%;
	height: 580px;
	position: relative; 
}

#MOTIVACAO{
	background-image: url('Materiais/635703-1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #FFFFFF;
	text-align: center;
}

#SERVIÇOS{
	position: relative;
	margin-bottom: 100px;
}

#MOVIMENTO-EMPRESA-JUNIOR{
	position: relative;
	background: #F7F7F7;
	height: 700px;
	margin-bottom: 120px;
}

#DEPOIMENTOS{
	position: relative;
	height: 580px;
}

#CONTATO{
	background: #3E194D;
	position: relative;
	height: 700px;
}

/* Fim Ids Principais */


/* Ids Historia */

#conteudo-historia{
	width: 44%;
	position: relative;
	left: 28%;
}

#missao{
	width: 20%;
	position: absolute;
	left: 16%;
	padding-top: 80px;
}

#visao{
	width: 20%;
	position: absolute;
	left: 40%;
	padding-top: 80px;
}

#valores{
	width: 20%;
	position: absolute;
	left: 64%;
	padding-top: 80px;
}

/* Fim Ids Historia */



/* Ids Motivação */

#shadow{
	background: #000000A0;
	height: 100%;
	padding-bottom: 12%;
}

#yoda{
	width: 60px;
	border: 5px solid #00000070;
	border-radius: 1000px;
}

/* Fim Ids Motivação */



/* Ids Serviços */

#desenvolvimento{
	position: absolute;
	width: 23%;
	bottom: 330px;
	left: 12%;
}

#internet{
	position: absolute;
	width: 23%;
	bottom: 170px;
	left: 12%;
}

#consultoria{
	position: absolute;
	width: 23%;
	bottom: 330px;
	right: 12%;
}

#minicursos{
	position: absolute;
	width: 23%;
	bottom: 170px;
	right: 12%;
}

/* Fim Ids Serviços */



/* Ids Movimento Empresa Junior */

#sobre-empresa-junior{
	position: relative;
	top: 150px;
	left: 300px;
	width: 25%;
}

#link-empresa-junior{
	color: #A7FBD3;
	text-decoration: none;
	font: bold 15px "Segoe UI", Arial, sans-serif;
	background: #3E194D;
	width: 130px;
	padding: 15px 40px;
	border: 0px solid #F7F7F7;
	border-radius: 5px;
	position: relative;
	top: 40px;
}

#membros{
	position: absolute;
	bottom: 170px;
	left: 44%;
	width: 600px;
}

/* Fim Ids Movimento Empresa Junior */




/* Ids Contato */

#formulario{

	border: 0px solid white;
	border-radius: 10px;
	position: absolute;
	background: #FFFFFF;
	bottom: 160px;
	left: 60%;
	padding: 40px;

}

#infos-contato{

	width:400px ;
	position: relative;
	top: 15%;
	left: 20%;

}

/* Fim Ids Contato */




/* Classes de Imagem */

.img{
	width: 100%;
}

.img-serviços{
	position: relative;
	left: 39%;
}

.foto1{
	width: 60px;
	position: absolute;
	top: 200px;
	left: 20px;
}

.foto2{
	width: 60px;
	position: absolute;
	top: 200px;
	left: 40px;
}

.foto3{
	width: 60px;
	position: absolute;
	top: 200px;
	left: 40px;
}

.icons{
	position: relative;
	left: 40%;
	color: #A7FBD3;
	font-size: 350%;
}

.img-contato{
	
	position: relative;
	top: 50px;
	width: 325px;

}

/* Fim Classes de Imagem */



/* Classes de Texto */

.title{
	font: bold 48px Montserrat, Arial, sans-serif;
	text-align: center;
	color: #252525;
}

.title-contato{
	font: bold 42px Montserrat, Arial, sans-serif;
	color: #FFFFFF;
	text-aling: left;
}

.title-left{
	font: bold 48px Montserrat, Arial, sans-serif;
	text-align: left;
	color: #252525;
}

.title-right{
	font: bold 48px Montserrat, Arial, sans-serif;
	text-align: right;
	color: #252525;
}

.textTitle{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #252525;
}

.textTitle-left{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: left;
	color: #252525;
}

.textTitle-right{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: right;
	color: #252525;
}

.textTitle2{
	font: normal 20px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #999999;
}

.text{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #999999;
}

.text-left{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: left;
	color: #999999;
}

.text-right{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: right;
	color: #999999;
}

.text2{
	font: bold 15px "Segoe UI", Arial, sans-serif;
	color: #000000;
	position: relative;
	left: 40%;
}

.textYoda{
	padding-top: 10%;
	margin: 0px;
	font: normal 40px "Segoe UI", Arial, sans-serif;
}

.nameYoda{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	margin: 10px;
}

.oquefalam1{
	position: absolute;
	width: 240px;
	height: 500px;
	top: 180px;
	left: 22%;
}

.oquefalam2{
	position: absolute;
	width: 300px;
	height: 500px;
	top: 180px;
	left: 40%;
}

.oquefalam3{
	position: absolute;
	width: 300px;
	height: 500px;
	top: 180px;
	left: 60%;
}

/* Fim Classes de Texto */



/* Classes de funções expecificas */

.margin-100top{
	margin-top: 100px;
	margin-bottom: 0px;
}

.nomargin{
	margin: 0px;
}

.tam-w{
	width: 300px;
}

.tam-h1{
	height: 20px;
}

.tam-h2{
	height: 100px;
}

.background{
	background: #F5F5F5;
}

.noborder{
	border-style: none;
}

/* Fim Classes de funções expecificas */



/* Classe Formulario */

.buttom{

	background: #3E194D;
	color: #A7FBD3;
	padding: 5px 15px;
	border: 0px solid white;
	border-radius: 5px;

}

/* Fim Classe Formulario */